<!DOCTYPE html>
<html lang="en">
  @include('_includes/head.html', { 'title': 'HubCrag | Demo', 'description':
  'Description main' })
  <body>
    <div class="wrapper">
      <main class="main demo">
        <div class="card">
          <div class="card-back">
            <div class="line-numbers">
              <div>1</div>
              <div>2</div>
              <div>3</div>
              <div>4</div>
              <div>5</div>
              <div>6</div>
              <div>7</div>
              <div>8</div>
              <div>9</div>
            </div>
            <code>
              <span class="variable">const </span>
              <span class="function">aboutMe </span>
              <span class="operator">= </span>
              <span>{</span>
              <div class="indent">
                <span class="property">name</span>
                <span class="operator">: </span>
                <span class="string">'HubCrag'</span>
                <span>,</span>
              </div>
              <div class="indent">
                <span class="property">title</span>
                <span class="operator">: </span>
                <span class="string">'Frontend, UI/UX Developer'</span
                ><span>,</span>
              </div>
              <div class="indent">
                <span class="property">contact</span>
                <span class="operator">: </span><span>{</span>
                <div class="indent">
                  <span class="property">email</span>
                  <span class="operator">: </span>
                  <span class="string">'hi@hubcrag.com'</span> 
                  <span>,</span>
                </div>
                <div class="indent">
                  <span class="property">website</span>
                  <span class="operator">:</span>
                  <span class="string">'hubcrag.com'</span>
                </div>
                <span>}</span>
              </div>
              <span>}</span>
            </code>
          </div>
          <div class="card-front">
            <div class="line-numbers">
              <div>1</div>
              <div>2</div>
              <div>3</div>
              <div>4</div>
              <div>5</div>
              <div>6</div>
              <div>7</div>
              <div>8</div>
              <div>9</div>
            </div>
            <code>
              <span class="variable">this</span>
              <span>.</span>
              <span class="method">addEventListener</span>
              <span>(</span>
              <span class="string">'mouseover'</span>
              <span>, </span>
              <span class="function">() => </span>
              <span>{ </span>
              <div class="indent">
                <span class="variable">this</span>
                <span>.</span>
                <span class="property">flipCard </span>
                <span>= </span>
                <span class="boolean">true</span>
                <span>;</span>
              </div>
              <span>});</span>
            </code>
          </div>
        </div>
      </main>
    </div>

    @include('_includes/scripts.html')
  </body>
</html>
